

<div class="exercise-container">
    <h1>Ejercicio 1</h1>

    <div class="input-group">
        <label for="edad1">
            <h3>Edad 1:</h3>
        </label>
        <input id="edad1" type="number" [(ngModel)]="edadUno" />
    </div>

    <div class="input-group">
        <label for="edad2">
            <h3>Edad 2:</h3>
        </label>
        <input id="edad2" type="number" [(ngModel)]="edadDos" />
    </div>

    <div class="results">
        <h2>Promedio:</h2>
        <p>{{promedio}}</p>

        <h2>Suma:</h2>
        <p>{{suma}}</p>
    </div>

    <div class="actions">
        <button (click)="calcularPromedio()">Calcular</button>
        <button (click)="limpiar()">Limpiar</button>
    </div>
</div>

<hr>
<h1>Ejercicio 2</h1>
<div class="exercise-container">
    <nav class="nav-buttons">
        <button routerLink="/Bienvenido">Bienvenido</button>
        <button routerLink="/login">Login</button>
        <button routerLink="/usuario">Usuario</button>
        <button routerLink="/error">Error</button>
        <button routerLink="/auth">AUTH</button>
      </nav>
</div>
<router-outlet />